<div class="jumbotron">
	<div class="container">
	  <h1 class="display-4">Hello, world!</h1>
	 <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	  <hr class="my-4">
	  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  <a class="btn btn-info" >
	   <i class="fa fa-thumbs-up" aria-hidden="true"></i>
		 Learn more
		</a>
	</div>
</div>
<div class="container">
  <!-- Content here -->

 <div class="row">
  <div class="col-md-4">
  	<div class="page-header">
  		<h2 style="display:inline">Encabezado de página 1</h2>
  			<span class="label label-default">New</span>
	</div>
   <h2> Example page header </h2>
   <p>
   	Los amigos de verdad lo dan todo de forma desinteresada, sin preguntar, sin exigir. Están ahí siempre que los necesitamos ofreciéndonos un abrazo, enjugando nuestras lagrimas, compartiendo nuestras tristezas, nuestros fracasos y celebrando con nosotros nuestros triunfos y alegrías.
    </p>
   </div>

   	<div class="col-md-4">
   		<div class="page-header">
  		<h2>Example page header</h2>
		</div>
	   <h2> Subtítulos </h2>
	   <p>En ocasiones puede pasar tiempo sin que hablemos o mantengamos una reunión pero sabemos que ellos están ahí, que la amistad y el cariño perduran.
	    </p>
   	</div>

   	<div class="col-md-4">
   		<div class="page-header">
  		<h2>Encabezado de página
	   <h2> Imagenes </h2>
	   <p>Las reflexiones sobre amistad que ofrecemos en En Buenas Manos son lindas historias que nos mandan un mensaje sobre el desinterés, el cariño, y el gran e inmenso significado de esta hermosa palabra.
	    </p>
	    <img src="http://www.gasnaturalgnu.com/wp-content/uploads/2017/10/Desarrollo-sustentable.jpg" width="420px" class="img-responsive">
   	</div>
  </div> <!-- cierre del div row-->
</div>
